/*reset start*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

a img {
  border: none;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  border-radius: 0;
}

/*reset end*/
body {
  background-color: #00263f;
  color: #ffce00;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}

#header button {
  width: 150px;
  height: inherit;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  font-size: large;
}

#header #menuBtn {
  border-right: 1px solid #ffce00;
  /*#menu.activeMenu::after {
      content: "X";
        border:1px solid #f30;
    } */
}

#header #menuBtn #menu {
  position: relative;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#header #menuBtn #menuContainer {
  width: 150px;
  display: none;
  position: absolute;
  top: 100%;
  border-right: 1px solid #ffce00;
  border-bottom: 1px solid #ffce00;
}

#header #menuBtn #menuContainer.active {
  display: block;
}

#header #menuBtn #menuContainer a {
  display: block;
  padding: 15px 20px;
}

#header #menuBtn #menuContainer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
}

#header button div#menuIcon {
  height: 27px;
  width: 20px;
  position: relative;
  left: -5%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

#header button div#menuIcon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 10px;
  background: #ffce00;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#header button div#menuIcon span:nth-child(even) {
  left: 50%;
  border-radius: 0 2px 2px 0;
}

#header button div#menuIcon span:nth-child(odd) {
  left: 0px;
  border-radius: 2px 0 0 2px;
}

#header button div#menuIcon span:nth-child(1), #header button div#menuIcon span:nth-child(2) {
  top: 20px;
}

#header button div#menuIcon span:nth-child(3), #header button div#menuIcon span:nth-child(4) {
  top: 30px;
}

#header button div#menuIcon.open span:nth-child(1), #header button div#menuIcon.open span:nth-child(4) {
  width: 70%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header button div#menuIcon.open span:nth-child(2), #header button div#menuIcon.open span:nth-child(3) {
  width: 70%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#header #tripsBtn {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

#header #tripsBtn:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
}

#header::before, #header::after {
  content: "";
  display: block;
  width: calc(100% - 50% - 50px);
  height: 1px;
  position: absolute;
  top: 80px;
  background-color: #ffce00;
}

#header::after {
  right: 0;
  width: calc(100% - 50% - 45px);
}

#header .logo {
  width: 100px;
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #ffce00;
}

#welcome {
  height: 100vh;
  width: 100%;
  position: relative;
  background: #0c1657;
  background: radial-gradient(circle, rgba(12, 22, 87, 0.1) 0%, rgba(12, 22, 87, 0.6) 100%);
}

#welcome video {
  z-index: -1;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  margin: -40px 0 -40px 0;
}

#welcome h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24pt;
  font-weight: 700;
  line-height: 28.8pt;
}

#welcome h2 {
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14pt;
  font-weight: 300;
  line-height: 16.8pt;
}

#welcome a span {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14pt;
  font-weight: 700;
  line-height: 16.8pt;
}

#welcome a svg {
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#welcome a svg .sun, #welcome a svg .sunbeam {
  fill: none;
  stroke: #fc0;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

#welcome a svg .sunbeam {
  stroke-dasharray: 0 4;
}

#welcome .svgHolder svg {
  position: absolute;
  bottom: 0;
  fill: url(#wave);
}
/*# sourceMappingURL=style.css.map */