/*reset start*/
* {
    margin: 0; 
    padding: 0; 
    border: 0; 
    background: transparent; 
    outline: none; 
    text-decoration: none; 
    font-family: inherit; 
    box-sizing: border-box;
  }

  ol, ul, li {
    list-style: none; 
    display: block;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  button,
  a {cursor: pointer; color: inherit;}
  a img {border: none;}
  
  textarea {resize: none;}
  
  button,
  input,
  textarea,
  select {appearance: none !important; border-radius: 0;}
/*reset end*/

body {
  height: 100%;
  background-color: #00263f;
  color: #ffce00;

  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 10;

  button {
    width: 150px;
    height: inherit;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    font-size: large;
    }

    #menu-btn {
      border-right: 1px solid #ffce00;

      #menu {
      position: relative;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }

    #menu-container{
      width: 150px;
      display: none;
      position: absolute;
      top: 100%;
      border-right: 1px solid #ffce00;
      border-bottom: 1px solid #ffce00;
    }

    #menu-container.active {
      display: block;
    }

    #menu-container a{
      display: block;
      padding: 15px 20px;
      text-decoration: underline 3px rgba(255, 206, 0, 0);
      transition: text-decoration-color 400ms;
      text-underline-offset: 0.2em;

      &:hover {
        text-decoration: underline 3px rgba(255, 206, 0, 1);
      }
    }
    
    /*#menu.activeMenu::after {
      content: "X";
        border:1px solid #f30;
    } */

    // #menu.activeMenu::after {
    //   content: " X";
    // }

    // #menu.inactiveMenu::after {
    //   content: " =";
    // }
  }

  button div#menu-icon {
    height: 27px;
    width: 20px;
    position: relative;
    left: -5%;
    transform: translateY(50%);

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 10px;
      background: #ffce00;
      opacity: 1;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }
  
    span:nth-child(even) {
      left: 50%;
      border-radius: 0 2px 2px 0;
    }
    
   span:nth-child(odd) {
      left:0px;
      border-radius: 2px 0 0 2px;
    }
  
    span:nth-child(1), span:nth-child(2) {
      top: 20px;
    }
    
    span:nth-child(3), span:nth-child(4) {
      top: 30px;
    }
  
    &.open span:nth-child(1), &.open span:nth-child(4) {
      width: 70%;
      transform: rotate(45deg);
    }
  
    &.open span:nth-child(2), &.open span:nth-child(3) {
      width: 70%;
      transform: rotate(-45deg);
    }
  }

  #trips-btn {
    top: 50%;
    right: 0;
    transform: translateY(-15%);
    text-decoration: underline 3px rgba(255, 206, 0, 0);
    transition: text-decoration-color 400ms;
    text-underline-offset: 0.2em;

    &:hover {
      text-decoration: underline 3px rgba(255, 206, 0, 1);
    }
  }

  &::before, &::after {
    content: "";
    display: block;
    width: calc(100% - 50% - 50px);
    height: 1px;
    position: absolute;
    top: 80px;
    background-color:#ffce00;
  }

  &::after {
    right: 0;
    width: calc(100% - 50% - 45px);
  }

  .logo {
    width: 100px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #ffce00;
  }
}

main {
  top: 100vh;

  #about {
    position: relative;
    background-color: #00263f;
    min-height: 50vh;
  }
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

section, footer {
  background-color: #00263d;
  z-index: 1;
}

  #welcome {
  height: 100vh;
  width: 100%;
  position: relative;
  background: rgb(136, 137, 145);
  background: radial-gradient(circle, rgba(12,22,87,0.1) 0%, rgba(12,22,87,0.6) 100%);

  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 24pt;
    font-weight: 700;
    line-height: 28.8pt;
  }

  h2 {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);

    font-size: 14pt;
    font-weight: 300;
    line-height: 16.8pt;
  }

  a {
    span {
      position: absolute;
      left: 50%;
      bottom: 10%;
      transform: translate(-50%, -50%);

      font-size: 14pt;
      font-weight: 700;
      line-height: 16.8pt;
    }
  }

  a svg {
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -50%);

    .sun, .sunbeam {
      fill: none;
      stroke: #fc0;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }

    .sunbeam {
      stroke-dasharray: 0 4;
    }
  }

  .svg-holder svg {
    position: absolute;
    bottom: 0;
    fill: url(#wave);
  }
}

#pagination-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // margin-top: -150px;
  padding: 15px;
}

.swiper-container {
  z-index: -1;

  margin: auto;
  
  .swiper-slide {
    width: 100vh;

    img {
      width: 100%;  
    }
  }
}
.swiper-pagination-unique {
  height: 100px;

}

.swiper-pagination-bullet{
  width: 30px;
  height: 30px;
  background: transparent;
  opacity: 1;
  --swiper-theme-color: transparent;

  .sun, .sunbeam {
    fill: none;
    stroke: #0096ab;
    opacity: 1;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }

  .sunbeam {
    stroke-dasharray: 0 0;
    opacity: 0;
  }
}

.swiper-pagination-bullet-active{

  .sun, .sunbeam {
    fill: none;
    stroke: #fc0;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }

  .sunbeam {
    stroke-dasharray: 0 4;
    opacity: 1;
  }
}

.swiper-button-next-unique, .swiper-button-prev-unique {
  width: 25px;
  height: 20px;
  fill: #0096ab;
}

.swiper-button-prev-unique {
  rotate: 180deg;
  transform: translate(0, -50%);
}

// #social {
//   display: flex;
// }

// #social img {
//   width: 30px;
//   height: 30px;
//   fill: blue;
// }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  #newsletter {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: #1E95A9;
  }

  h4 {
    font-size: 24pt;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-anchor: middle;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  input {
    background-color: transparent;
    border-bottom: 1px solid #ffce00;
    padding-bottom: 10px;
    width: 250px;
  }

  input:focus {
    background-color: transparent;
    border-bottom: 1px solid #ffce00;
    padding-bottom: 10px;
    width: 250px;
    font-size:18px;
    text-transform: none;
    outline: none;
  }

  input::placeholder {
    color: #BDCCD4;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: none;
  }

  input:focus::placeholder {
    opacity: 0;
  }

  h5 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: #1E95A9;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  #social {
    display: flex;

    img {
      height: 100px;
      width: 100px;
      border: 1px solid #ffce00;
      padding: 35px;
    }
  }

  #logo-bottom {
    padding-top: 80px;
    height: 320px;
    width: 100px;
  }

  #logo-bottom svg {
    fill: #ffce00;
  }

  .bottom-links {
    position: relative;
    width: 100%;
    height: 100px;
    bottom: 0;
    
    #footer-text {
      width: 100%;
      position: absolute;
      bottom: 10%;
      display: flex;
      flex-basis: content;
      padding: 0 1%;
        
      #footer-name {
        width: 50%;
      }
  
      #footer-links {
        width: 50%;
        text-align: right;
        a {
          color: #00263d;
          font-weight: 500;
          letter-spacing: 0.2em;
        }
      }
    }
    #wave-bottom {
      vertical-align: bottom;
    }

    #wave-path-bottom {
      fill: url(#wave-grad-light)
    }
  }
  

}