/*reset start*/
* {
    margin: 0; 
    padding: 0; 
    border: 0; 
    background: transparent; 
    outline: none; 
    text-decoration: none; 
    font-family: inherit; 
    box-sizing: border-box;
  }

  ol, ul, li {
    list-style: none; 
    display: block;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  button,
  a {cursor: pointer; color: inherit;}
  a img {border: none;}
  
  textarea {resize: none;}
  
  button,
  input,
  textarea,
  select {appearance: none !important; border-radius: 0;}
/*reset end*/

body {
  background-color: #00263f;
  color: #ffce00;

  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  button {
    width: 150px;
    height: inherit;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
  }

  #menuBtn {
    top: 0;
    left: 0;
    border-right: 1px solid #ffce00;
  }

  #tripsBtn {
    top: 0;
    right: 0;
  }
  &::before, &::after {
    content: "";
    display: block;
    width: calc(100% - 50% - 50px);
    height: 1px;
    position: absolute;
    top: 80px;
    background-color:#ffce00;
  }

  &::after {
    right: 0;
    width: calc(100% - 50% - 45px);
  }

  .logo {
    width: 100px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #ffce00;



  }
}

#welcome {
  height: 100vh;
  width: 100%;
  position: relative;

  video {
    z-index: -1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    margin: -40px 0 -40px 0;
  }

  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 24pt;
    font-weight: 700;
    line-height: 28.8pt;
  }

  h2 {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);

    font-size: 14pt;
    font-weight: 300;
    line-height: 16.8pt;
  }

  a {
    span {
      position: absolute;
      left: 50%;
      bottom: 10%;
      transform: translate(-50%, -50%);

      font-size: 14pt;
      font-weight: 700;
      line-height: 16.8pt;
    }
  }

  a svg {
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -50%);

    .sun, .sunbeam {
      fill: none;
      stroke: #fc0;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }

    .sunbeam {
      stroke-dasharray: 0 4;
    }
  }

  .svgHolder svg {
    position: absolute;
    bottom: 0;
    fill: url(#wave);
  }
}
