/*reset start*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

a img {
  border: none;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  border-radius: 0;
}

/*reset end*/
body {
  height: 100%;
  background-color: #00263f;
  color: #ffce00;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}

#header button {
  width: 150px;
  height: inherit;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  font-size: large;
}

#header #menu-btn {
  border-right: 1px solid #ffce00;
  /*#menu.activeMenu::after {
      content: "X";
        border:1px solid #f30;
    } */
}

#header #menu-btn #menu {
  position: relative;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#header #menu-btn #menu-container {
  width: 150px;
  display: none;
  position: absolute;
  top: 100%;
  border-right: 1px solid #ffce00;
  border-bottom: 1px solid #ffce00;
}

#header #menu-btn #menu-container.active {
  display: block;
}

#header #menu-btn #menu-container a {
  display: block;
  padding: 15px 20px;
  -webkit-text-decoration: underline 3px rgba(255, 206, 0, 0);
          text-decoration: underline 3px rgba(255, 206, 0, 0);
  -webkit-transition: -webkit-text-decoration-color 400ms;
  transition: -webkit-text-decoration-color 400ms;
  transition: text-decoration-color 400ms;
  transition: text-decoration-color 400ms, -webkit-text-decoration-color 400ms;
  text-underline-offset: 0.2em;
}

#header #menu-btn #menu-container a:hover {
  -webkit-text-decoration: underline 3px #ffce00;
          text-decoration: underline 3px #ffce00;
}

#header button div#menu-icon {
  height: 27px;
  width: 20px;
  position: relative;
  left: -5%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

#header button div#menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 10px;
  background: #ffce00;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#header button div#menu-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 2px 2px 0;
}

#header button div#menu-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 2px 0 0 2px;
}

#header button div#menu-icon span:nth-child(1), #header button div#menu-icon span:nth-child(2) {
  top: 20px;
}

#header button div#menu-icon span:nth-child(3), #header button div#menu-icon span:nth-child(4) {
  top: 30px;
}

#header button div#menu-icon.open span:nth-child(1), #header button div#menu-icon.open span:nth-child(4) {
  width: 70%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header button div#menu-icon.open span:nth-child(2), #header button div#menu-icon.open span:nth-child(3) {
  width: 70%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#header #trips-btn {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  -webkit-text-decoration: underline 3px rgba(255, 206, 0, 0);
          text-decoration: underline 3px rgba(255, 206, 0, 0);
  -webkit-transition: -webkit-text-decoration-color 400ms;
  transition: -webkit-text-decoration-color 400ms;
  transition: text-decoration-color 400ms;
  transition: text-decoration-color 400ms, -webkit-text-decoration-color 400ms;
  text-underline-offset: 0.2em;
}

#header #trips-btn:hover {
  -webkit-text-decoration: underline 3px #ffce00;
          text-decoration: underline 3px #ffce00;
}

#header::before, #header::after {
  content: "";
  display: block;
  width: calc(100% - 50% - 50px);
  height: 1px;
  position: absolute;
  top: 80px;
  background-color: #ffce00;
}

#header::after {
  right: 0;
  width: calc(100% - 50% - 45px);
}

#header .logo {
  width: 100px;
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #ffce00;
}

main {
  top: 100vh;
}

main #about {
  position: relative;
  background-color: #00263f;
  min-height: 50vh;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

section, footer {
  background-color: #00263d;
  z-index: 1;
}

#welcome {
  height: 100vh;
  width: 100%;
  position: relative;
  background: #888991;
  background: radial-gradient(circle, rgba(12, 22, 87, 0.1) 0%, rgba(12, 22, 87, 0.6) 100%);
}

#welcome h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24pt;
  font-weight: 700;
  line-height: 28.8pt;
}

#welcome h2 {
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14pt;
  font-weight: 300;
  line-height: 16.8pt;
}

#welcome a span {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14pt;
  font-weight: 700;
  line-height: 16.8pt;
}

#welcome a svg {
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#welcome a svg .sun, #welcome a svg .sunbeam {
  fill: none;
  stroke: #fc0;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

#welcome a svg .sunbeam {
  stroke-dasharray: 0 4;
}

#welcome .svg-holder svg {
  position: absolute;
  bottom: 0;
  fill: url(#wave);
}

#pagination-container {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.swiper-container {
  z-index: -1;
  margin: auto;
}

.swiper-container .swiper-slide {
  width: 100vh;
}

.swiper-container .swiper-slide img {
  width: 100%;
}

.swiper-pagination-unique {
  height: 100px;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  background: transparent;
  opacity: 1;
  --swiper-theme-color: transparent;
}

.swiper-pagination-bullet .sun, .swiper-pagination-bullet .sunbeam {
  fill: none;
  stroke: #0096ab;
  opacity: 1;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.swiper-pagination-bullet .sunbeam {
  stroke-dasharray: 0 0;
  opacity: 0;
}

.swiper-pagination-bullet-active .sun, .swiper-pagination-bullet-active .sunbeam {
  fill: none;
  stroke: #fc0;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.swiper-pagination-bullet-active .sunbeam {
  stroke-dasharray: 0 4;
  opacity: 1;
}

.swiper-button-next-unique, .swiper-button-prev-unique {
  width: 25px;
  height: 20px;
  fill: #0096ab;
}

.swiper-button-prev-unique {
  rotate: 180deg;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer #newsletter {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #1E95A9;
}

footer h4 {
  font-size: 24pt;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-anchor: middle;
  padding-top: 20px;
  padding-bottom: 40px;
}

footer input {
  background-color: transparent;
  border-bottom: 1px solid #ffce00;
  padding-bottom: 10px;
  width: 250px;
}

footer input:focus {
  background-color: transparent;
  border-bottom: 1px solid #ffce00;
  padding-bottom: 10px;
  width: 250px;
  font-size: 18px;
  text-transform: none;
  outline: none;
}

footer input::-webkit-input-placeholder {
  color: #BDCCD4;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

footer input:-ms-input-placeholder {
  color: #BDCCD4;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

footer input::-ms-input-placeholder {
  color: #BDCCD4;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

footer input::placeholder {
  color: #BDCCD4;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

footer input:focus::-webkit-input-placeholder {
  opacity: 0;
}

footer input:focus:-ms-input-placeholder {
  opacity: 0;
}

footer input:focus::-ms-input-placeholder {
  opacity: 0;
}

footer input:focus::placeholder {
  opacity: 0;
}

footer h5 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #1E95A9;
  padding-top: 50px;
  padding-bottom: 10px;
}

footer #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #social img {
  height: 100px;
  width: 100px;
  border: 1px solid #ffce00;
  padding: 35px;
}

footer #logo-bottom {
  padding-top: 80px;
  height: 320px;
  width: 100px;
}

footer #logo-bottom svg {
  fill: #ffce00;
}

footer .bottom-links {
  position: relative;
  width: 100%;
  height: 100px;
  bottom: 0;
}

footer .bottom-links #footer-text {
  width: 100%;
  position: absolute;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  padding: 0 1%;
}

footer .bottom-links #footer-text #footer-name {
  width: 50%;
}

footer .bottom-links #footer-text #footer-links {
  width: 50%;
  text-align: right;
}

footer .bottom-links #footer-text #footer-links a {
  color: #00263d;
  font-weight: 500;
  letter-spacing: 0.2em;
}

footer .bottom-links #wave-bottom {
  vertical-align: bottom;
}

footer .bottom-links #wave-path-bottom {
  fill: url(#wave-grad-light);
}
/*# sourceMappingURL=style.css.map */